# Ignore configuration files that may contain sensitive information.
/.idea
.sass-cache
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files/languages/*
sites/*/private
sites/default/files/css/
sites/default/files/js/
sites/default/files/languages/