.view-schools {
  .all-schools {
    .views-row {
      margin: 0 -30px;
      padding: 10px 30px 25px;
      border-bottom: $border;

      &:nth-child(odd) {
        @include gradient();
      }
    }

    .views-field-title {
      margin-top: 15px;
      margin-bottom: 15px;

      h3 {
        font-size: 24px;
        line-height: 32px;
        margin: 0 0 10px;
      }
    }

    .views-field-field-logo {
      margin-right: 20px;
      float: left;

      img {
        @include image();
      }
    }

    .views-field-body {
      p {
        margin-top: -4px;
      }
    }

    .views-field-field-styles,
    .views-field-field-city {
      float: left;
      margin-right: 50px;
      font-size: 12px;
      max-width: 50%;
    }
  }
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}