.front {
  h1.page__title {
    display: none;
  }

  .panel-2col-bricks {
    margin: 0 -30px;

    .panel-col-first {
      width: 68%;

      .inside {
        margin: 0 10px .5em 0;
        padding-right: 10px;
        border-right: $light_border;
      }

      h2.pane-title {
        margin-left: 30px;
      }
    }

    .panel-col-last {
      width: 32%;
      padding: 20px 20px 0 0;
      background: #4a2c1d;
      @include box-sizing(border-box);

      .inside {
        margin-left: 20px;
      }

      .pane-views {
        padding-bottom: 20px;
        margin-bottom: 10px;
        border-bottom: $light_border;

        &:last-child {
          border: none;
        }

        h2 {
          margin: 5px 0;
        }
      }

      .views-field-field-video {
        a {
          @include video-icon();
        }
      }
    }

    .view-photo {
      padding: 0 5px 0 30px;
    }

    .photo_gallery_wrapper li {
      margin: 15px 15px 15px 0;

      &:nth-child(even) {
        margin-left: 15px;
      }
    }
  }

  h2.pane-title {
    margin: 0;
  }
}