.front {
  h1.page__title {
    display: none;
  }

  .panel-2col-bricks {
    margin: 0 -30px;
    @include respond(mobile) {
      margin: 0;
    }

    .panel-col-first {
      width: 68%;
      @include respond(mobile) {
        width: 100%;
      }

      .inside {
        margin: 0 10px .5em 0;
        padding-right: 10px;
        border-right: $light_border;
        @include respond(mobile) {
          margin: 0;
          padding: 0;
          border: none;
        }
      }

      h2.pane-title {
        margin-left: 30px;
        @include respond(mobile) {
          margin-left: 0;
        }
      }
    }

    .panel-col-last {
      width: 32%;
      padding: 20px 20px 0 0;
      @include box-sizing(border-box);
      @include respond(mobile) {
        width: 100%;
        padding-right: 0;
      }

      .inside {
        margin-left: 20px;
        @include respond(mobile) {
          margin-left: 0;
        }
      }

      .pane-views {
        padding-bottom: 20px;
        margin-bottom: 10px;
        border-bottom: $light_border;

        &:last-child {
          border: none;
        }

        h2 {
          margin: 5px 0;
        }
      }

      .views-field-field-video {
        overflow: hidden;
        .field-content {
          float: left;
          @include respond(mobile) {
            float: none;
          }
        }
        a {
          @include video-icon();
        }
      }
    }

    .view-photo {
      padding: 0 5px 0 30px;
      @include respond(mobile) {
        padding-left: 0;
      }
    }

    .photo_gallery_wrapper li {
      margin: 15px 15px 15px 0;
      @include respond(mobile) {
        margin: 10px 0;
      }

      &:nth-child(even) {
        margin-left: 15px;
        @include respond(tablet) {
          margin-left: 3%;
          margin-right: 0;
        }
        @include respond(mobile) {
          margin-left: 0;
        }
      }
      &:nth-child(odd) {
        @include respond(tablet) {
          margin-right: 3%;
          margin-left: 0;
        }
      }
    }
  }

  h2.pane-title {
    margin: 0;
  }

  .view-display-id-panel_pane_1 {
    padding: 10px 30px 25px;
    @include respond(mobile) {
      padding: 0;
    }
  }

  .view-news-wrapper.home {
    border-bottom: $light_border;
  }

  .fb_iframe_widget,
  .contextual-links-region.pane-block-3 {
    margin-top: 20px;
  }

  .pane-block-4 {
    margin: 20px 0 0;
    p {
      padding: 10px 30px 0;
    }
  }
}

.pane-views-schools-public-block {
  .views-row {
    clear: both;
    overflow: hidden;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: $light_border;
    &:last-child {
      border-bottom: none;
    }
  }
  .views-field-title,
  .views-field-delete-node {
    font-size: 14px;
    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .views-field-title {
    float: left;
    width: 80%;
    padding-right: 15px;
    box-sizing: border-box;
  }
  .views-field-delete-node {
    float: right;
    width: 20%;
  }
}