.page-node {
  .view-instructor-wrapper {
    .views-row {
      display: block;
      width: 100%;
      padding: 20px;
      margin: 0;
    }
  }
}

.view-instructor-wrapper {
  @include clearfix();

  .views-row {
    display: inline-block;
    width: 49%;
    padding: 20px 20px 20px 0;
    margin: 20px 0 20px -3px;
    vertical-align: top;
    @include box-sizing(border-box);

    &:nth-child(even) {
      padding: 20px 0 20px 20px;
    }
  }

  .views-field-field-photo {
    position: relative;
    float: left;
    margin-right: 40px;
  }

  h2 {
    margin-top: 0;
  }

  h3 {
    font-size: 24px;
    line-height: 24px;
    margin: 20px 0;
  }

  img {
    @include image();
    border: $light_border;
  }
}

/*Instructors Block*/
.view-instructors-small {
  .views-row {
    overflow: hidden;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .views-field-field-photo {
    float: left;
    margin-right: 10px;

    img {
      @include image();
      border: $light_border;
    }
  }

  .views-field-title {
    font-size: 14px;

    a {
      text-decoration: none;
    }
  }
}