.node-type-master-class {
  .views-field-field-photos {
    clear: both;
  }

  .views-field-field-video {
    overflow: hidden;

    .colorbox {
      @include video-icon();
      margin-bottom: 5px;
      width: 278px;
    }

    .item-list {
      li {
        float: left;
        margin-right: 20px;
        &:last-child {
          margin-right: 0;
        }
      }
    }

    .views-field-field-photos {
      margin-top: 30px;
      .views-label-field-photos {
        display: block;
        margin-left: 20px;
      }

    }
    .views-field-field-video {
      margin-top: 30px;
      .views-label-field-video {
        display: block;
        margin-left: 20px;
      }
    }
  }
}