.pane-photo-panel-pane-1 {

  .views-field-field-photos {
    .field-content {
      overflow: hidden;
    }
  }

  h3 {
    font-size: 1.5em;
    line-height: 2em;
    margin-bottom: 0;
  }
}
.photo_gallery_wrapper {
  ul {
    font-size: 0;
  }
  li {
    display: inline-block;
    margin: 15px;
    vertical-align: top;
    width: 360px;
    position: relative;
    @include respond(tablet) {
      width: 45%;
      box-sizing: border-box;
    }
    @include respond(mobile) {
      width: 100%;
      margin: 10px 0;
    }

    &:hover {
      cursor: pointer;
    }

    img {
      @include image();
      border: $light_border;
    }
  }

  .GI_TW_expander.opened {
    @include gradient();
    border-bottom: 1px solid #4F2F1D;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;

    img {
      border: none;
    }
  }

  .GI_TW_expander {
    .GI_TW_pointer {
      border-bottom-color: rgba(74, 44, 29, 1);
      margin-left: 20px;
    }

    .GI_TW_expander-inner {
      width: 100%;
    }

    .GI_TW_fullimg {
      padding-top: 20px;
      padding-bottom: 20px;
      margin: 0;
      @include box-sizing(border-box);

      img {
        width: 100%;
        vertical-align: top;
      }
    }
  }
}