.school-page {

  .panel-col-first {
    width: 68%;
    border-top: $border;

    .inside {
      margin: 0 20px 10px 0;
    }
  }

  .panel-col-last {
    width: 32%;
    padding: 20px 20px 0 0;
    background: $second_bg;
    border-top: $border;
    @include box-sizing(border-box);

    .inside {
      margin-left: 20px;
    }

    .pane-views-panes {
      padding-bottom: 20px;
      margin-bottom: 10px;
      border-bottom: $light_border;

      &:last-child {
        border: none;
      }

      h2 {
        margin: 5px 0;
      }
    }
  }

  .panel-2col {
    margin: 0 -30px;
    padding-left: 30px;
  }

  /*Node*/
  .views-field-field-logo {
    float: left;
    margin: 0 20px 20px;
  }

  /*News Block*/
  .view-news {
    .views-row {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: $light_border;

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    .views-field-field-image {
      .field-content {
        position: relative;
        margin: 10px 25px 10px 0;
      }

      img {
        @include image();
        border: $light_border;
      }
    }

    .views-field-title {
      a {
        text-decoration: none;
        font-size: 16px;
        font-family: $header-font;
      }
    }

    .views-more-link {
      margin: -15px 0 10px;
      display: block;
    }

    .views-field-created {
      font-size: 10px;
      color: #ccc;
    }
  }

  /*Photo Block*/
  .pane-photo-panel-pane-2 {
    clear: both;

    .views-row {
      float: left;
      position: relative;
      margin: 0 50px 20px 0;

      &:nth-child(even) {
        margin-right: 0;
      }

      img {
        @include image();
        border: $light_border;
      }
    }
  }

  /*Video Block*/
  .pane-video-panel-pane-2 {
    clear: both;

    .views-row {
      float: left;
      width: 50%;
      padding: 0 20px 20px 0;
      @include box-sizing(border-box);

      &:nth-child(even) {
        padding-right: 0;
      }
    }

    .views-field-field-video {
      .colorbox {
        @include video-icon();
        margin-bottom: 5px;
        width: 278px;
      }
    }

    .views-field-title {
      font-size: 14px;

      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.view-schools {
  .all-schools {
    .views-row {
      margin: 0 -30px;
      padding: 10px 30px 25px;
      border-bottom: $border;

      &:nth-child(odd) {
        @include gradient();
      }
    }

    .views-field-title {
      margin-top: 15px;
      margin-bottom: 15px;

      h3 {
        font-size: 24px;
        line-height: 32px;
        margin: 0 0 10px;
      }
    }

    .views-field-field-logo {
      margin-right: 20px;
      float: left;

      img {
        @include image();
      }
    }

    .views-field-body {
      p {
        margin-top: -4px;
      }
    }

    .views-field-field-styles,
    .views-field-field-city {
      float: left;
      margin-right: 50px;
      font-size: 12px;
      max-width: 50%;
    }
  }
}

.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 0;
}

.view-school-wrapper {
  &.small {
    margin-left: 30px;
	  margin-bottom: 25px;

    h2.pane-title {
      margin: 10px 0;
    }

    .views-row {
		@include clearfix();
		margin: 0 -10px 0 -30px;
		padding: 25px 30px 25px;
		border-bottom: $border;

      &:nth-child(even) {
		  @include gradient();

		  .views-field-field-logo {
			  float: right;
			  margin-right: 0;
			  margin-left: 25px;
		  }
      }

		.views-field-field-logo {
			float: left;
			margin-right: 25px;
		}

      h3 {
        margin-top: 0;
        margin-bottom: 10px;
        line-height: 18px;
		  font-size: 1.5em;
      }

      .views-more-link {
        display: block;
        position: relative;
        top: -15px;
      }

      .views-field-field-styles,
      .views-field-field-city {
        width: 45%;
        display: inline-block;
        vertical-align: top;
        padding-right: 10px;
      }
    }
  }
}