.pane-video-panel-pane-1 {
  .views-row {
    margin-bottom: 10px;
    @include clearfix();
  }

  .colorbox {
    width: 458px;
    margin: 0 20px 20px 0;
    position: relative;
    display: block;
    float: left;

    &:nth-child(even) {
      margin-right: 0;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 458px;
      height: 304px;
      background: url(../images/play.png) no-repeat center;
    }

    img {
      @include image();
      border: $light_border;
    }
  }
}