.view-video-wrapper {

  .views-row {
    @include clearfix();
    margin: 0 -30px;
    padding: 10px 30px 25px;
    border-bottom: $border;
    @include respond(mobile) {
      padding-right: 0;
      padding-left: 0;
      margin: 0;
    }

    &:nth-child(even) {
      @include gradient();
      @include respond(mobile) {
        @include no-gradient();
      }

      .views-field-field-video {
        float: right;
        margin-left: 20px;
        @include respond(mobile) {
          margin-left: 0;
        }

        a {
          margin-right: 0;
        }
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .views-field-title {
    margin-top: 15px;
    margin-bottom: 15px;

    h2 {
      font-size: 24px;
      line-height: 32px;
      margin: 0 0 10px;
      @include respond(mobile) {
        font-size: 21px;
      }
    }
  }

  .colorbox {
    width: 458px;
    margin: 0 20px 20px 0;
    float: left;
    @include video-icon();

    @include respond(mobile) {
      width: 100%;
      margin: 10px 0;
    }

    &:nth-child(even) {
      margin-right: 0;
    }
  }
  iframe {
    @include respond(mobile) {
      width: 100%;
      height: auto;
    }
  }
}
.embedded-video {
  iframe {
    @include respond(mobile) {
      width: 100%;
      height: auto;
    }
  }
}