.view-video-wrapper {

  .views-row {
    @include clearfix();
    margin: 0 -30px;
    padding: 10px 30px 25px;
    border-bottom: $border;

    &:nth-child(even) {
      @include gradient();

      .views-field-field-video {
        float: right;
        margin-left: 20px;

        a {
          margin-right: 0;
        }
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }

  .views-field-title {
    margin-top: 15px;
    margin-bottom: 15px;

    h2 {
      font-size: 24px;
      line-height: 32px;
      margin: 0 0 10px;
    }
  }

  .colorbox {
    width: 458px;
    margin: 0 20px 20px 0;
    float: left;
    @include video-icon();

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}