.header {
  height: 386px;
  background: url("../images/header-bg.gif") repeat-x;
  .container-inner {
    &:after {
      background: url("../images/watch.png") no-repeat;
      content: '';
      width: 499px;
      height: 247px;
      position: absolute;
      bottom: 0px;
      right: 0px;
    }
    .header__logo {
      position: relative;
      left:-90px;
    }
    .header__name-and-slogan {
      position: absolute;
      max-width: 475px;
      height: initial;
      width: 100%;
      top: 230px;
      left: 10px;
      h1 {
        line-height: normal;
        font-weight: normal;
        a {
          text-decoration: none;
          font-variant: small-caps;
          color: #F8B150;
          padding: 80px 0 5px 0;
          line-height: normal;
          font-weight: normal;
          font-family: Georgia, Cambria, "Times New Roman", Times, serif;
          font-size: 36px;
          outline: none;
        }
      }
    }
  }
}

