@import "blocks/header";
@import "blocks/footer";

body {
  color: $main_color;
}

::selection {
  background: $selection;
}
::-moz-selection {
  background: $selection;
}

a {
  @include link();
}

button, .button, .form-submit {
  @include button();
}

h1, h2, h3, h4, h5 {
  font-family: $header-font;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  @include fieldset();
}

.form-text, .form-textarea {
  @include form-input();
}

.container-inner {
  position: relative;
  margin: 0 auto;
  max-width: 950px;
  height: 100%;
}

#page {
  max-width: 100%;
  background: url("../images/container-bg.gif");
   #navigation {
      top: -46px;
      background: url("../images/mainnav-bg.png");
      height: 46px;
      position: absolute;
      bottom: 0;
      z-index: 9;
      width: 100%;
     .container-inner {
       ul {
         &.inline {
           display: inline-block;
         }
         margin: 0 0 0 5px;
         padding: 0 0 0 2px;
         position: relative;
         background: url("../images/mainnav-sep.gif") no-repeat left 3px;
         li {
           padding: 0 2px 0 0;
           margin: 0;
           background: url("../images/mainnav-sep.gif") no-repeat 100% 3px;
           &.active {
             a {
               background: url("../images/mainnav-active-bg.gif") no-repeat center top;
             }
           }
           a {
             line-height: 46px;
             text-decoration: none;
             padding: 0 20px;
             font-family: Georgia, "Times New Roman", Times, serif;
             display: block;
             font-variant: small-caps;
           }
           &:hover {
             a {
               background: url("../images/mainnav-hover.gif") no-repeat center 3px;
             }
           }
         }
       }
     }
  }
  #main {
    padding: 0;
    .column {
      max-width: 950px;
      padding: 10px 6px 0;
      margin: 0 auto;
      background: url("../images/content-bg.png") repeat-y center;
      .content-container {
        width: 54.9%;
        padding: 10px 20px;
        @include box-sizing(border-box);
      }
    }
  }
}