@import "blocks/header";
@import "blocks/footer";
@import "views/views-schools";

body {
  color: $main_color;
}

::selection {
  background: $selection;
}
::-moz-selection {
  background: $selection;
}

a {
  @include link();
}

button, .button, .form-submit {
  @include button();
}

h1, h2, h3, h4, h5 {
  font-family: $header-font;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

fieldset {
  @include fieldset();
}

.form-text, .form-textarea {
  @include form-input();
}

.container-inner {
  position: relative;
  margin: 0 auto;
  max-width: $max-width;
  height: 100%;
}

#page {
  max-width: 100%;
  background: url("../images/container-bg.gif");
  padding-bottom: 15px;
   #navigation {
      margin-top: -46px;
      background: url("../images/mainnav-bg.png");
      height: 46px;
      position: relative;
      bottom: 0;
      z-index: 9;
      width: 100%;
     .main-menu {
       outline: none;
     }
     .container-inner {
       ul {
         &.inline {
           display: inline-block;
         }
         margin: 0 0 0 5px;
         padding: 0 0 0 2px;
         position: relative;
         background: url("../images/mainnav-sep.gif") no-repeat left 3px;
         li {
           padding: 0 2px 0 0;
           margin: 0;
           background: url("../images/mainnav-sep.gif") no-repeat 100% 3px;
           a {
             line-height: 46px;
             text-decoration: none;
             padding: 0 20px;
             font-family: Georgia, "Times New Roman", Times, serif;
             display: block;
             font-variant: small-caps;
             @include transition(all 0.5s ease);
             background: none;
             background-position: center 3px;
             background-repeat: no-repeat;
           }
           &:hover {
             a {
               background: url("../images/mainnav-hover.gif") no-repeat center 3px;
               color: #DCCAC0;

             }
           }
           &.active {
             a {
               background: url("../images/mainnav-active-bg.gif") repeat-x center 1px;
               &:hover {
                 background: url("../images/mainnav-active-bg.gif") repeat-x center 1px;
               }
             }
           }
         }
       }
     }
  }
  #main {
    max-width: $max-width;
    padding: 0;
    margin: 0 auto;

    .column {
      padding: 10px 20px;
      margin: 0 auto;
      background: $bg;

      &.column-main {
        padding: 10px 30px;
      }

      &.sidebar {
        background: $sidebar_bg;
      }

      .content-container {
        @include box-sizing(border-box);
      }
    }
  }
}

#footer {
  background: url(../images/botslwrap-bg.gif);
  clear: both;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #2F190C;
  min-height: 236px;
  padding: 0;
  .wrapper {
    max-width: $max-width;
    margin: 0 auto;
    padding: 20px 0;
    height: 100%;
    background: url(../images/botsl-bg1200.png) no-repeat top center;
    min-height: 195px;
  }
}
