@import "compass/css3";
@import "compass/support";

.container-inner {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}

#page {
  max-width: 100%;
  background: url("../images/container-bg.gif");
  padding-bottom: 15px;
   #navigation {
      top: -46px;
      background: url("../images/mainnav-bg.png");
      height: 46px;
      position: absolute;
      bottom: 0;
      z-index: 9;
      width: 100%;
     .main-menu {
       outline: none;
     }
     .container-inner {
       ul {
         &.inline {
           display: inline-block;
         }
         margin: 0 0 0 5px;
         padding: 0 0 0 2px;
         position: relative;
         background: url("../images/mainnav-sep.gif") no-repeat left 3px;
         li {
           padding: 0 2px 0 0;
           margin: 0;
           background: url("../images/mainnav-sep.gif") no-repeat 100% 3px;
           a {
             line-height: 46px;
             text-decoration: none;
             color: #F8B150;
             padding: 0 20px;
             font-family: Georgia, "Times New Roman", Times, serif;
             display: block;
             font-variant: small-caps;
             @include transition(all 0.5s ease);
             background: none;
             background-position: center 3px;
             background-repeat: no-repeat;
           }
           &:hover {
             a {
               background: url("../images/mainnav-hover.gif") no-repeat center 3px;
               color: #DCCAC0;

             }
           }
           &.active {
             a {
               background: url("../images/mainnav-active-bg.gif") repeat-x center 1px;
               &:hover {
                 background: url("../images/mainnav-active-bg.gif") repeat-x center 1px;
               }
             }
           }
         }
       }
     }
  }
  #main {
    padding: 0;
    .column {
      max-width: 1200px;
      padding: 10px 6px 0;
      margin: 0 auto;
      background: url("../images/content-bg1200.png") repeat-y center;
      .content-container {
        width: 54.9%;
        padding: 10px 40px 10px 40px;

        @include box-sizing(border-box);
      }
    }
  }
}

#footer {
  background: url(../images/botslwrap-bg.gif);
  clear: both;
  position: relative;
  text-align: center;
  border-bottom: 1px solid #2F190C;
  min-height: 236px;
  padding: 0;
  .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
    height: 100%;
    background: url(../images/botsl-bg1200.png) no-repeat top center;
    min-height: 195px;
  }
}

p {
  font-size: 12px;
  line-height: 18px;
  color: #DCCAC0;
  font-family: "Lucida Grande", Arial, sans-serif;
}

h1, h2, h3, h4 {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  color: #DCCAC0;
  line-height: normal;
  font-weight: normal;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 24px;
}

body {
  &.not-logged-in {
    #page {
      #content {
        float: none;
      }
      .sidebars {
        .region-sidebar-first {
          float: none;
          .block.block-user {
            .form-actions {
              padding-bottom: 30px;
            }
          }
        }
      }
      #footer {
        top: -24px;
        position: relative;
      }
    }
  }
}