#footer {
  background: url(../images/botslwrap-bg.gif);
  clear: both;
  position: relative;
  border-bottom: 1px solid #2F190C;
  min-height: 236px;
  padding: 0;

  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .wrapper {
    max-width: $max-width;
    margin: 0 auto;
    padding: 20px 30px;
    height: 100%;
    min-height: 195px;
    position: relative;
    @include box-sizing(border-box);
  }

  .line {
    position: absolute;
    width: 3px;
    background: url(../images/footer-line.png) no-repeat;
    top: 0;
    height: 100%;

    &.line {
      left: 0;
    }

    &.right {
      right: 0;
      left: inherit;
    }
  }

  .block-menu {
    margin-top: 20px;

    h2 {
      display: none;
    }

    li {
      line-height: 24px;
    }
  }
}