.header {
  height: 256px;
  background: url("../images/header-bg.gif") repeat-x;
  .container-inner {
    &:after {
      background: url("../images/watch.png") no-repeat;
      content: '';
      width: 499px;
      height: 247px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .header__logo {
      position: relative;
      left:-90px;
        display: none;
    }
    .header__name-and-slogan {
      position: absolute;
      max-width: 475px;
      height: initial;
      width: 100%;
      top: 35px;
      left: 10px;
      z-index: 10;
      h1 {
        line-height: normal;
        font-weight: normal;
        a {
          text-decoration: none;
          font-variant: small-caps;
          padding: 80px 0 5px 0;
          line-height: normal;
          font-weight: normal;
          font-size: 36px;
          outline: none;
        }
      }
    }
  }
}

.header-enter {
  text-align: right;
  position: relative;
  z-index: 1;
}
