/**
 * @file
 * Test zen-grid-item()
 */
/* line 8, ../../../../../../sass-extensions/zen-grids/templates/unit-tests/sass/zen-grid-item.scss */
#test-zen-grid-item {
  /* Test zen-grid-item(6, 4) with 12 column grid and 20px gutter */
  float: left;
  width: 600%;
  margin-left: 300%;
  margin-right: -900%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  /* Test zen-grid-item(3, 3) with box-sizing: content-box, 5 column grid and 10% gutter */
  float: left;
  width: 300%;
  margin-left: 200%;
  margin-right: -500%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  /* Turn off $zen-auto-include-item-base */
  /* Test zen-grid-item(3, 3) with 5 column grid and 40px gutter */
  float: left;
  width: 300%;
  margin-left: 200%;
  margin-right: -500%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  /* Test zen-grid-item(3, 3, right) with 5 column grid and 40px gutter */
  float: right;
  width: 300%;
  margin-right: 200%;
  margin-left: -500%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  /* Test zen-grid-item(3, 3) with 5 column grid and 40px gutter and $zen-reverse-all-floats */
  float: left;
  width: 300%;
  margin-left: 200%;
  margin-right: -500%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  /* Test zen-grid-item(3, 3, right) with 5 column grid and 40px gutter and $zen-reverse-all-floats */
  float: right;
  width: 300%;
  margin-right: 200%;
  margin-left: -500%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  /* Test zen-grid-item(3, 2.5) with 5 column grid and 40px gutter */
  float: left;
  width: 300%;
  margin-left: 150%;
  margin-right: -450%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
  /* Test zen-grid-item(3, 3) with $zen-grid-width: 1000px, 5 column grid and 40px gutter */
  float: left;
  width: 300%;
  margin-left: 200%;
  margin-right: -500%;
  padding-left: 10px;
  padding-right: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

/*# sourceMappingURL=zen-grid-item.css.map */
